# Core Dependencies
python-frontmatter==1.0.1
pypandoc-binary==1.13
markdown==3.6
weasyprint==62.3
mistune==3.0.2

# Syntax Highlighting
pygments==2.18.0

# Web Framework
flask==3.0.3
gunicorn==22.0.0
werkzeug==3.0.3

# Utilities
python-dotenv==1.0.0
